/* Search Results Container */
.search-box {
	position: relative;
}

.user-search-results {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 1000;
	max-height: 250px;
	overflow-y: auto;
	background-color: #fff; /* Or generic background */
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Slightly cleaner shadow */
	/* Custom scrollbar */
	scrollbar-width: thin;
	scrollbar-color: #aab8c5 #f1f1f1;
}

.user-search-results::-webkit-scrollbar {
	width: 6px;
}

.user-search-results::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.user-search-results::-webkit-scrollbar-thumb {
	background: #aab8c5;
	border-radius: 3px;
}

.user-search-results::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/* .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    background-color: var(--bs-primary);
    color: #fff;
} */

/* chat-conversation .conversation-list .ctext-wrap-content {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-dark);
    border-radius: 8px 8px 0 8px;
} */

#emoji-picker-wrapper {
	left: unset !important;
	right: 0 !important;
	border-radius: 10px !important;
	overflow: hidden !important;
}